@page "/home"
<MudCard>
    <div style="background-color:cadetblue">
    <MudCardContent>
            <MudText><h1><center>Bike Service & Inventory Management System</center></h1></MudText>
    </MudCardContent>
    </div>
    <br />
        <MudCardContent>
             <MudText Typo="Typo.body2" Align="Align.Center" Style="background-color: aquamarine"> Bike Service & Inventory Management Digitalized.</MudText>
             <br />
             <MudText Typo="Typo.body1">
                
            </MudText>
        </MudCardContent>
</MudCard>




